@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@300;700&display=swap');

body{
    font-family: 'Sofia Sans', sans-serif;
}

.container{
    padding-left: 2px;
    padding-right:2px;
}

.container-center{
    max-width: 600px;
    margin : auto;
}